.contacts.grid
	.imgcontacts.grid
		h1 наши контакты
		.blurewrapper.grid
			.blure
			.textcontacts.grid
				.left.grid
					.leftcontent
						img(src="img/web-site.svg", alt="")
						a(href="#!")
							span сайт для детей
					.leftcontent
						img(src="img/web-site.svg", alt="")
						a(href="#!")
							span сайт для взрослых
					.leftcontent
						img(src="img/web-site.svg", alt="")
						a(href="#!")
							span сайт магазин
				.hr
				.right
					h3 2
					h3 2
					h3 2
