.contacts.grid
	.imgcontacts.grid
		.blurewrapper.grid
			h1 наши контакты
			.blure
			.textcontacts.grid
				.left.grid
					img(src="img/web-site.svg", alt="")
					a(href="#!")
						span сайт для детей
					img(src="img/web-site.svg", alt="")
					a(href="#!")
						span сайт для взрослых
					img(src="img/web-site.svg", alt="")
					a(href="#!")
						span сайт магазин
				.hr
				.right.grid
					.social.grid
						a(href="#!").icon.grid
							.fab.fa-facebook-f
						.icon.grid
							.fab.fa-youtube
						.icon.grid
							.fab.fa-instagram
					.con.grid
						.email.grid
							i
								.far.fa-envelope
							span info@superknigaclub.tv
						.phone.grid
							i
								.fas.fa-phone-volume
							span +3067-404-29-69
							small (Украина)
							span +7926-33-22-777
							small (Россия)
