.donate
	.imagedonate.grid
		img(src="img/img2.jpg", alt="")
		.btndonate.btn-large.waves-effect пожертвовать
		.textdonate.grid
			p.
				Станьте партнером Суперкниги и подарите подрастающему поколению библейское мировоззрение и ценности.
				Поддержите проект финансово	
			.blur