.donate.grid
	.imagedonate.grid
		a(href="https://donate.emmanuil.tv/superbook").btndonate.btn-large.pulse пожертвовать
		.blurewrapper
			.blure
			.textdonate
				p
					|Станьте партнером Суперкниги и подарите подрастающему поколению библейское мировоззрение и ценности.
					br
					|Поддержите проект финансово.