.content.grid
	.progres.grid
		.block.block1.grid
				h4.counter-value(data-count='25')
				span.
							Лет истории «Суперкниги»
							на постсоветском пространстве
		.block.block2.grid
				h4.counter-value(data-count='58')
				span.
						Тысяч подписчиков в соцсетях
		.block.block3.grid
				h4.counter-value(data-count='300')
				span.
						Клубов Суперкниги и воскресных школ, использующих программу
		.block.block4.grid
				h4.counter-value(data-count='39')
				span.
					Новых серий мультфильма на русском
					и украинском языках

